<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>Dwnldr</string>
	</dict>
	<key>title</key>
	<string>Test Settings</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.stilldabomb.Dwnldr</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Disable Autoplay</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.stilldabomb.Dwnldr/preferences.changed</string>
		</dict>
	</array>
</dict>
</plist>
